.logo-wrapper {
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: $bp-tablet) {
    position: absolute;
    top: 6px;
    right: 0;
  }

  &--footer {
    position: initial;
    top: initial;
    right: initial;

    flex-direction: row;
    justify-content: center;
  }
}


.logo {
  @media (min-width: $bp-tablet) {
    width: 149px;
    height: 34px;
  }
}
