.logo-wrapper {
  display: flex;
  flex-direction: row-reverse;

  @media (min-width: $bp-tablet) {
    position: absolute;
    top: 6px;
    right: 0;
  }

  @media (min-width: $bp-1366) {
    top: 8px;
  }

  @media (min-width: $bp-1440) {
    top: 12px;
  }

  @media (min-width: $bp-1920) {
    top: 18px;
  }

  &--footer {
    position: initial;
    top: initial;
    right: initial;

    justify-content: center;

    @media (max-width: 425px) {
      display: none;
    }
  }
}


.logo {
  width: 160px;
  height: 37px;

  opacity: 0.6;

  transition: 0.15s linear;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $bp-tablet) {
    width: 149px;
    height: 34px;
  }

  @media (min-width: $bp-1280) {
    width: 248px;
    height: 58px;
  }

  @media (min-width: $bp-1366) {
    width: 266px;
    height: 62px;
  }

  @media (min-width: $bp-1440) {
    width: 276px;
    height: 64px;
  }

  @media (min-width: $bp-1920) {
    width: 368px;
    height: 85px;
  }
}
