.navigation-modal {
  display: none;
  animation: slide-in-fwd-center 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

  &--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    padding: 0 35px;

    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.3px;

    background-color: #333333;

    @media (min-width: $bp-tablet) {
      top: 20%;

      justify-content: space-around;
      max-height: 50%;
      padding: 0 130px;

      border-top: 3px solid #ededed;
      border-bottom: 3px solid #ededed;

      & + .navigation-modal_fade {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    @media (min-width: $bp-1280) {
      padding: 0 215px;
    }

    @media (min-width: $bp-1366) {
      max-height: 60%;
      padding: 0 225px;
    }

    @media (min-width: $bp-1440) {
      max-height: 70%;
      padding: 0 242px;
    }

    @media (min-width: $bp-1920) {
      padding: 0 322px;
    }
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}


.navigation-modal__text {
  line-height: normal;

  @media (min-width: $bp-tablet) {
    margin-top: 10%;
  }
}

.navigation-modal__footer {
  display: flex;
  justify-content: flex-end;

  color: #adadad;

  @media (min-width: $bp-tablet) {
    margin-top: auto;
  }
}


.navigation-modal__close {
  margin: 1em 0;
  padding: 0;

  font-size: inherit;
  line-height: 1;
  color: #adadad;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: lighten($main-color, 45%);
  }
}
