.navigation-modal {
  display: none;

  &--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    padding: 0 35px;

    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.3px;

    background-color: #333333;

    @media (min-width: $bp-tablet) {
      padding: 0 130px;
      justify-content: space-around;
    }

    @media (min-width: $bp-1280) {
      padding: 0 215px;
    }

    @media (min-width: $bp-1366) {
      padding: 0 225px;
    }

    @media (min-width: $bp-1440) {
      padding: 0 242px;
    }

    @media (min-width: $bp-1920) {
      padding: 0 322px;
    }
  }
}

.navigation-modal__text {
  line-height: normal;
}

.navigation-modal__footer {
  display: flex;
  justify-content: space-between;

  color: #adadad;
}


.navigation-modal__close {
  padding: 0;

  font-size: inherit;
  line-height: 1;
  color: #adadad;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;

  &:hover {
    color: lighten($main-color, 45%);
  }
}
