.page-footer {
  padding-top: 5px;

  text-align: center;

  border-top: 3px solid #cacaca;

  @media (min-width: $bp-tablet) {
    padding-bottom: 10px;
  }
}

.page-footer__copyright {
  text-transform: uppercase;

  @media (max-width: 425px) {
    text-align: left;
  }
}

.page-footer__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
