.page-footer {
  min-height: 60px;
  padding-top: 5px;

  text-align: center;

  border-top: 3px solid #cacaca;

  @media (min-width: $bp-tablet) {
    min-height: 50px;
    padding-bottom: 10px;
  }

  @media (min-width: $bp-1280) {
    min-height: 80px;

    border-top: 6px solid #cacaca;
  }

  @media (min-width: $bp-1920) {
    min-height: 120px;

    border-top: 8px solid #cacaca;
  }
}

.page-footer__copyright {
  text-transform: uppercase;

  @media (max-width: 425px) {
    text-align: left;
  }

  @media (min-width: $bp-tablet) {
    margin: 0;
    margin-bottom: auto;
  }

  @media (min-width: $bp-1366) {
    margin-top: 10px;
  }
}

.page-footer__inner {
  @media (min-width: $bp-tablet) {
    display: flex;
    align-items: center;
  }
}
