.page-header {
  position: fixed;
  top: 0;
  z-index: 11;

  width: 100%;

  background: #333333;
  border-bottom: 3px solid #cacaca;
}

.page-header__inner {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;
}
