.page-header {
  position: fixed;
  top: 0;
  z-index: 11;

  width: 100%;

  background: #333333;
  border-bottom: 3px solid #cacaca;

  @media (min-width: $bp-tablet) {
    position: initial;

    border: none;
  }
}

.page--project {
  .site-navigation__facilities-list {
    display: none;
  }

  @media (max-width: $bp-tablet - 1) {
    .site-navigation__list {
      position: relative;

      &::after {
        display: none;
      }
    }
  }
}

.page-header__inner {
  position: relative;

  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: $bp-tablet) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 20px;
  }

  @media (min-width: $bp-1280) {
    padding-top: 40px;
  }

  @media (min-width: $bp-1366) {
    padding-top: 45px;
  }

  @media (min-width: $bp-1440) {
    padding-top: 50px;
  }

  @media (min-width: $bp-1920) {
    padding-top: 70px;
  }
}
