.site-navigation--closed .site-navigation__list {
  @media (max-width: $bp-tablet - 1) {
    display: none;
  }
}

.site-navigation--closed .site-navigation__facilities-list {
  @media (max-width: $bp-tablet - 1) {
    display: none;
  }
}

.site-navigation--no-js .site-navigation__toggle {
  display: none;
}

.site-navigation__list {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: 110px;
    height: 1px;

    background-color: #c4c4c4;
    transform: translateX(-50%);
  }

  @media (min-width: $bp-tablet) {
    max-width: 60%;

    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: -130px;

      width: 100vw;
      height: 3px;

      background-color: #c4c4c4;
      transform: none;
    }
  }

  @media (min-width: $bp-1280) {
    &::after {
      left: -215px;
    }
  }

  @media (min-width: $bp-1366) {
    &::after {
      left: -225px;
    }
  }

  @media (min-width: $bp-1440) {
    &::after {
      left: -242px;
    }
  }

  @media (min-width: $bp-1920) {
    &::after {
      left: -322px;
    }
  }
}

.site-navigation__list,
.site-navigation__facilities-list {
  @include list-reset;
  position: relative;
  top: 175px;

  text-align: center;

  @media (min-width: $bp-tablet) {
    top: initial;

    display: flex;
    flex-wrap: wrap;
  }
}

.site-navigation__item,
.site-navigation__facilities-item {
  padding: 10px 0;

  @media (min-width: $bp-tablet) {
    margin-right: 17px;
  }

  @media (min-width: $bp-1280) {
    margin-right: 22px;
  }

  @media (min-width: $bp-1366) {
    margin-right: 25px;
  }

  @media (min-width: $bp-1440) {
    margin-right: 27px;
  }

  @media (min-width: $bp-1920) {
    margin-right: 35px;
  }
}


.site-navigation__item {
  cursor: pointer;

  @media (min-width: $bp-tablet) {
    padding-bottom: 0;
  }
}

.site-navigation__facilities-item {
  @media (min-width: $bp-tablet) {
    padding-top: 10px;
    padding-bottom: 0;
  }
}

.site-navigation__facilities-button {
  color: $main-color;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: 0.15s linear;

  &:hover {
    color: lighten($main-color, 45%);
  }

  @media (min-width: $bp-tablet) {
    padding: 0;
  }
}

.site-navigation__modal--open {
  position: absolute;

  display: block;
  width: 100vw;
  height: 100vh;
}


.site-navigation__facilities-list {
  margin-top: 10px;

  @media (min-width: $bp-tablet) {
    margin: 0;
  }
}

.site-navigation__link--current {
  color: white;
}

.site-navigation__link {
  transition: 0.15s linear;
}
