.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

         user-select: none;

  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-touch-callout: none;
}

.slick-list {
  position: relative;

  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  &::before,
  &::after {
    content: "";

    display: table;
  }

  &::after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  margin: 0 10px;

  outline: none;
  opacity: 0;

  transition-delay: 0s;
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: opacity;

  [dir="rtl"] & {
    float: right;
  }

  img {
    display: block;
    margin-bottom: 10px;

    opacity: 1;

    @media screen and (min-width: $bp-1280) {
      padding-bottom: 20px;
    }

    @media screen and (min-width: $bp-1440) {
      padding-bottom: 25px;
    }
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;

    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}


.slick-slide.slick-active {
  opacity: 1;

  transition-delay: 0.3s;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
  transition-property: opacity;
}
