$slick-arrow-color: white !default;
$slick-prev-character: "\2329" !default;
$slick-next-character: "\232A" !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;

  display: none !important;
  width: 40px;
  height: 40px;
  padding: 0;

  font-size: 0;
  line-height: 0;
  color: transparent;

  background: transparent;
  border: none;
  outline: none;
  transform: translate(0, -50%);
  cursor: pointer;

  &:hover,
  &:focus {
    color: transparent;

    background: transparent;
    outline: none;

    &::before {
      opacity: $slick-opacity-on-hover;
    }
  }

  &.slick-disabled::before {
    opacity: $slick-opacity-not-active;
  }

  &::before {
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    color: $slick-arrow-color;

    opacity: $slick-opacity-default;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media screen and (min-width: $bp-tablet) {
    display: block !important;
  }
}

.slick-prev {
  left: -10%;

  [dir="rtl"] & {
    right: -10%;
    left: auto;
  }

  &::before {
    content: $slick-prev-character;

    [dir="rtl"] & {
      content: $slick-next-character;
    }
  }
}

.slick-next {
  right: -10%;

  [dir="rtl"] & {
    right: auto;
    left: -10%;
  }

  &::before {
    content: $slick-next-character;

    [dir="rtl"] & {
      content: $slick-prev-character;
    }
  }
}
