.works {
  position: relative;

  min-height: 90vh;
  padding-top: 80px;

  @media (min-width: $bp-tablet) {
    padding-top: 80px;
  }

  @media (min-width: $bp-1280) {
    padding-top: 120px;
  }

  @media (min-width: $bp-1366) {
    padding-top: 120px;
  }

  @media (min-width: $bp-1440) {
    padding-top: 135px;
  }

  @media (min-width: $bp-1920) {
    padding-top: 170px;
  }
}

.works__item {
  cursor: pointer;

  @media (min-width: $bp-tablet) {
    &:hover {
      .works__title {
        display: block;
      }
    }
  }

  @media screen and (min-width: $bp-1280) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $bp-1920) {
    margin-bottom: 30px;
  }
}

.works__image {
  display: block;
  width: 100%;
  max-width: 100%;
}

.works__title {
  position: relative;

  display: none;
  margin: 0;

  font-size: 9px;
  line-height: normal;
  color: #adadad;

  @media screen and (min-width: $bp-1280) {
    font-size: 14px;
  }

  @media screen and (min-width: $bp-1920) {
    font-size: 18px;
  }
}

.works__back {
  float: right;
  margin: 1em;
  padding: 0;

  font-size: 12px;
  color: #adadad;
  text-transform: uppercase;

  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: lighten($main-color, 45%);
  }
}

.works__modal {
  position: absolute;
  top: 0;
  left: -35px;
  z-index: 1;

  display: none;
  width: 100vw;
  padding: 0 35px;

  background-color: #333333;
  border-top: 3px solid  #c4c4c4;
  border-bottom: 3px solid #c4c4c4;

  animation: scale-in-ver-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  &--open {
    display: block;
  }

  & p {
    width: 90%;
  }
}

@keyframes scale-in-ver-center {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.grid-item {
  float: left;
  width: 100%;
  margin-bottom: 10px;

  @media screen and (min-width: $bp-tablet) {
    width: 32%;
  }

  @media screen and (min-width: $bp-1280) {
    margin-bottom: 17px;
  }

  @media screen and (min-width: $bp-1366) {
    margin-bottom: 18.3px;
  }

  @media screen and (min-width: $bp-1440) {
    margin-bottom: 19.1px;
  }

  @media screen and (min-width: $bp-1920) {
    margin-bottom: 25.5px;
  }
}

.grid-sizer {
  width: 100%;
}

@media screen and (min-width: $bp-tablet) {
  .grid-sizer {
    width: 32%;
  }

  .grid::after {
    content: "";

    display: block;
    clear: both;
  }

  .gutter-sizer {
    width: 2%;
  }
}

.your-class {
  img {
    outline: 0;

    @media (min-width: $bp-tablet) {
      max-height: 250px;
    }

    @media (min-width: $bp-1280) {
      max-height: 415px;
    }

    @media (min-width: $bp-1366) {
      max-height: 445px;
    }

    @media (min-width: $bp-1440) {
      max-height: 470px;
    }

    @media (min-width: $bp-1920) {
      max-height: 620px;
    }
  }

  @media screen and (min-width: $bp-tablet) {
    width: 100%;
    margin: 0 auto;
  }
}

.works__link {
  display: block;
}
