@font-face {
  font-weight: 400;
  font-family: "Futura";
  font-style: normal;

  font-display: swap;
  src: url("../fonts/futura.woff2") format("woff2"), url("../fonts/futura.woff") format("woff");
}
