html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;

  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  font-family: "Futura", "Arial", sans-serif;
  color: #adadad;
}

a {
  color: #adadad;
  text-decoration: none;

  &:hover,
  &:active {
    color: #ffffff;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
